nav h3{
	position:absolute;
	left:70%;
	top:2.5%;
	color:white;
}

nav .login{
	display: block;
	text-decoration: none;
	background-color: var(--syellow);
	color:var(--pblue);
	position: absolute;
	left:72.3%;
	top:7%;
	padding: 0.6em 1.4em 0.6em 1.4em;
	border-radius:13px;
	font-family:Roboto;
	transition: box-shadow .3s;
}

nav .login:hover{
	box-shadow: 0px 0px 10px 1px #FFF971;
}

#under-nav{
	width:100%;
	height:5%;
	background-color: #012760;
}

#login-header h1{
	position: absolute;
	right:29%;
	top:22.5%;
	z-index: 2;
	font-family: Roboto;
	font-size: 2.5em;
	color:#134185;
}

#login-header h2{
	position: absolute;
	top:22.5%;
	right:10%;
	background-color: var(--syellow);
	width:26%;
	font-family: Roboto;
	font-size: 2.5em;
	color:#134185;
	text-align:right;
}

#login-box{
	background: white;
	width:25%;
	min-height:40%;
	margin:5em 10em 3em 0em;
	border-radius:18px;
	float:right;
	padding:1em 0em 0.5em 1em;
	box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
}

#login-box label{
	font-family: Roboto;
	font-size: 1.4em;
	font-weight: bold;
	margin:0.5em 1em 1em 0.7em;
	color:#134185;
}

#login-box input{
	width:75%;
	margin:0.2em 1em 1em 1em;
	padding:0.5em 0.8em 0.5em 0.5em;
	border:none;
	border-bottom:2px solid #134185;
	font-size: 1em;
	transition:border-bottom .3s;
}
#login-box input:focus{
	border-bottom:2px solid var(--sred);
}

#login-box button{
	display: block;
	cursor:pointer;
	background-color: #134185;
	border:none;
	border-radius: 8px;
	width:80%;
	color:white;
	font-family: Roboto;
	font-weight: bold;
	font-size: 1.4em;
	margin:0.5em 1em 1em 1em;
	padding: 0.5em 1em 0.5em 1em;
	transition: background-color .3s;
}

#login-box button:hover{
	background-color: var(--sred);
}
